.bottom-container {
  display: flex;
  justify-content: space-between;
  background-color: beige;
  height: 100vh;
  width: 100vw;
}
.search-container {
  background-color: purple;
  height: 100%;
  width: 20vw;
}

.chat-container {
  background-color: blue;
  height: 100%;
  width: 50vw;
}

.friend-container {
  background-color: red;
  height: 100%;
  width: 20vw;
}
