.home-container {
  width: 100vw;
  height: 100vh;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 245);
  height: calc(100vh - 70px);
  width: 100vw;
}
.search-container {
  height: 100%;
  width: 20vw;
}

.chat-container {
  height: 100%;
  width: 50vw;
  border-left: solid lightgoldenrodyellow;
  border-right: solid lightgoldenrodyellow;
}

.friend-container {
  /* background-color: red; */
  height: 100%;
  width: 20vw;
}
