.friends-list-container li {
  list-style: none;
}

.friends-list-container h3 {
  color: lightgrey;
}
.friend {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 20px;
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 8px;
}