.login-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 40%;
  height: 60%;
}

.login-container input {
  width: 80%;
}
.login-container .login {
  width: 80%;
  background-color: #1776ee;
}

.login-container p {
  margin: 0 0;
  margin-top: -10px;
  padding: 0 30px;
  color: red;
  text-align: left;
}
